
p{
    color: red;
    width: 800px;
    border: 1px solid black;
}

h1{
    color: grey;
    width: 800px;
    border: 1px solid black;
}

li{
    color: blue;
}

html{
    font-family: 'Amatic SC', cursive;
}




